rimiRed         = #e4322b
rimiDarkRed     = #b32019
rimiLightRed    = #e4524b

rimiGrey        = #5d5d5c
rimiLightGrey   = #d6d6d6
rimiLighterGrey = #eaeaea

rimiLightBlue   = #01A3D4
rimiLighterBlue = #41bae0
rimiPink        = #e32470
rimiOrange      = #fa7805
rimiLightGreen  = #75af27


leftSideLine(color)
	content ''
	display block
	position absolute
	background color
	height 100%
	width 15px
	left -12px
	top 6px
	transform rotateY(-40deg) skewY(-40deg)